@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="hero-div">
    <img class="hero-img" src="~/images/christus.jpg" alt="Clipart of the Christus statue" />
</div>
<div class="row home-row">
    <div class="col-md-6 home-col">
        <h2>Thanks for using the Sacrament Meeting Planner</h2>
        <p>
            This is an unofficial sacrament meeting planner designed to be used to plan sacrament meetings for The Church of Jesus Christ of Latter-Day Saints. It is designed with the structure of an average sacrament meeting in mind.
        </p>
        <p><a class="btn btn-default" asp-controller="Meetings" asp-action="Index">Start Using The Planner &raquo;</a></p>
    </div>
    <div class="col-md-6 home-col">
        <h2>Learn More About The Church of Jesus Christ</h2>
        <p>Discover and learn more about The Church of Jesus Christ of Latter-Day Saints and what its members believe! Visit the offical church website, ChurchOfJesusChrist.org, to find official resources and to learn more:</p>
        <p><a class="btn btn-default" href="https://new.churchofjesuschrist.org/">Visit ChurchOfJesusChrist.org &raquo;</a></p>
    </div>
</div>