/* https://coolors.co/9b9ece-462b96-424b54-acadbc */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik&display=swap');

:root {
    --primary-color: #9B9ECE;
    --secondary-color: #462B96;
    --accent1-color: #424B54;
    --accent2-color: #ACADBC;

    --heading-font: 'Oswald', Arial, sans-serif;
    --paragraph-font: 'Rubik', Helvetica, sans-serif;
}



html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: var(--paragraph-font);
    max-width: 100%;
    background: var(--primary-color);
}

a {
    color: var(--accent1-color);
}

.hero-img {
    max-height: 400px;
    border: 5px solid black;
}

.hero-div {
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

.btn {
    background-color: var(--secondary-color);
    padding: 6px 24px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    margin: 1rem 0;
}

.btn:hover {
    background-color: #0d6efd;
    color: white;
}

.btn-primary:hover {
    color: white;
}

.white-on-secondary {
    color: white !important;
    background-color: var(--secondary-color) !important;
}

label {
    padding-top: 1rem;
}

thead {
    background: var(--accent1-color);
    color: white;
}

table {
    border: 2px solid black !important;
    background-color: white;
}

.radio-div {
    background: white;
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem 0 1.5rem 0;
    border-radius: .75rem;
}

dl {
    background-color: white;
    border: 3px solid black;
}

dt {
    background-color: var(--secondary-color);
    color: white;
    padding: .75rem;
    border: 2px solid black;
}

dd {
    padding-top: .75rem;
    border: 2px solid black;
    margin: 0;
}

.btn-danger:hover {
    background-color: darkred;
}